.header {
    padding: 20px 0;
}

.arrangement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-size: 24px;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.searchBar {
    max-width: 770px;
    width: 100%;
}

